<% results.forEach(food => { %>
    <h3><%= food.strMeal %></h3>
    <img src="<%= food.strMealThumb %>" alt="An image of <%= food.strMeal %>">
    <p>Recipe ID: <a href="/search/<%= food.idMeal %>"> <%= food.idMeal %></a></p>
<% }) %>


