<container>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <form action="/search" method="GET" class="nav-link">
            <input type="text" name="i" id="foodSearch" placeholder="Search another recipe!">
            <input type="submit">
        </form>
    </nav>
</container>
<% results.forEach(food => { %>
    <h3><%= food.strMeal %></h3>
    <img src="<%= food.strMealThumb %>" alt="An image of <%= food.strMeal %>">
    <p>Recipe ID: <a href="/search/<%= food.idMeal %>"> <%= food.idMeal %></a></p>
<% }) %>


