<head>
    <link rel="stylesheet" href="../css/recipe.css">
  </head>

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="#" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bytez</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg>
        <span class="fs-4">Bytez</span>
      </a>

    </header>

    <div class="p-5 mb-4 bg-dark rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= foodId[0].strMeal %></h1>
        <p class="col-md-8 fs-4">Yum</p>
        <img class="w-25 h-auto rounded mx-auto d-block"src="<%= foodId[0].strMealThumb %>" alt="An image of <%= foodId[0].strMeal %>">
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Instructions</h2>
          <p><%= foodId[0].strInstructions %></p>
          <form method="POST" action="/faves">
            <input hidden name="name" value="<%= foodId[0].strMeal %>">
            <input hidden name="image" value="<%= foodId[0].strMealThumb %>">
            <input class="button " type="submit" value="Favorite this recipe!">
        </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-dark border rounded-3">
          <h2>Ingredients</h2>
          <p><%= foodId[0].strMeasure1 + " " + foodId[0].strIngredient1 %></p>
          <p><%= foodId[0].strMeasure2 + " " + foodId[0].strIngredient2 %></p>
          <p><%= foodId[0].strMeasure3 + " " + foodId[0].strIngredient3 %></p>
          <p><%= foodId[0].strMeasure4 + " " + foodId[0].strIngredient4 %></p>
          <p><%= foodId[0].strMeasure5 + " " + foodId[0].strIngredient5 %></p>
          <p><%= foodId[0].strMeasure6 + " " + foodId[0].strIngredient6 %></p>
          <p><%= foodId[0].strMeasure7 + " " + foodId[0].strIngredient7 %></p>
          <p><%= foodId[0].strMeasure8 + " " + foodId[0].strIngredient8 %></p>
          <p><%= foodId[0].strMeasure9 + " " + foodId[0].strIngredient9 %></p>
          <p><%= foodId[0].strMeasure10 + " " + foodId[0].strIngredient10 %></p>
          <button class="btn btn-outline-secondary" type="button"><a href="/search/<%= foodId[0].idMeal %>/comments">Comments</a></button>
          <form action="/search/<%= foodId[0].idMeal %>" method="POST">
            <label for="comment">Add a comment about the recipe!</label>
            <input type="text" class="text-black"name="comment" id="comment">
            <input class="button" type="submit">
        </form>
          
        </div>
      </div>
    </div>

    <footer class="mt-auto text-white-50">
        <p class="text-white">&#169; 2022 Bytez, by Brian Lee</p>
        <a href="https://github.com/br1anlee" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
        <a href="https://www.linkedin.com/in/brianjoonmolee/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </footer>
  </div>
</main>


    
  </body>
</html>
